<h1>Edit Tweet</h1>

<% if @tweet.errors.any? %>
  <p> The tweet couldn't be updated due to the following errors: 
    <ul>
      <% @tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </p>
<% end %>

<p>
<%= form_with model: @tweet do |form| %>
  Author: 
  <%= select(:tweet, :user_id, @user_options) %>
  </br></br>
  <%= form.label :content, "Content:" %></br>
  <%= form.text_area :content, size: "40x10" %></br></br>

  <%= form.submit %>
<% end %>
</p>

<p><%= link_to "Back", tweets_path %></p>
