<h1>Tweets</h1>

<p><%= button_to "Create Tweet", new_tweet_path, method: :get %> </p>

<% Tweet.all.reverse_each do |tweet| %>
  <p>
  <b><%= tweet.user.name %></b> @<%= tweet.user.handle %>
  <%= tweet.content %></br>
  <%= tweet.created_at %>
  </p>
<% end %>

<p>
<%= link_to "Home", root_path %> |
<%= link_to "About", about_path %>
</p>
