<h1>Welcome to Twitter</h1>

<% if @current_user %>
  <p><%= button_to "Log Out", log_out_path, method: :get, form: {style: 'display:inline-block;'} %> 
  <p><%= button_to "New Tweet", new_tweet_path, method: :get %> </p>
<% else %>
  <p><%= button_to "Log In", log_in_path, method: :get, form: {style: 'display:inline-block;'} %> 
  <%= button_to "Sign Up", sign_up_path, method: :get, form: {style: 'display:inline-block;'} %> </p>
<% end %>

<% popular_tweets = Tweet.popular(10).includes(:user) %>
<% popular_tweets.each do |tweet| %>
  <p>
  <b><%= link_to "#{tweet.user.name}", user_path(tweet.user) %></b> @<%= tweet.user.handle %></br>
  <%= tweet.content %></br>
  <%= tweet.created_at %>
  <% if @current_user == tweet.user %>
  <%= button_to "Edit", edit_tweet_path(tweet), method: :get,form: {style: 'display:inline-block;'} %>
  <%= button_to "Delete", tweet_path(tweet), method: :delete, form: {style: 'display:inline-block;'} %>
  </br></br>
  <% end %>
  <%= button_to "Like", tweet_likes_path(tweet), method: :post, form: {style: 'display:inline-block;'} if @current_user && !tweet.liked_by?(@current_user) %>
  <%= button_to "Unlike", tweet_like_path(tweet, Like.find_by(tweet_id: tweet.id, user_id: @current_user.id)), method: :delete, form: {style: 'display:inline-block;'} if @current_user && tweet.liked_by?(@current_user) %>
  <%= button_to "Likes (#{tweet.likes.count})", tweet_likes_path(tweet), method: :get, form: {style: 'display:inline-block;'}%>
  <%= button_to "Comment", new_tweet_comment_path(tweet), method: :get, form: {style: 'display:inline-block;'} if @current_user %>
  <%= button_to "Comments (#{tweet.comments.count})", tweet_comments_path(tweet), method: :get, form: {style: 'display:inline-block;'}%>
  </p>
<% end %>

<p>
<%= link_to "List of users", users_path %> | 
<%= link_to "About", about_path %>
</p>
