<h1>Welcome to Twitter</h1>

<% if @current_user %>
  <p><%= button_to "Log Out", log_out_path, method: :get, form: {style: 'display:inline-block;'} %> 
  <p><%= button_to "New Tweet", new_tweet_path, method: :get %> </p>
<% else %>
  <p><%= button_to "Log In", log_in_path, method: :get, form: {style: 'display:inline-block;'} %> 
  <%= button_to "Sign Up", sign_up_path, method: :get, form: {style: 'display:inline-block;'} %> </p>
<% end %>

<% popular_tweets = Tweet.popular(10).includes(:user) %>
<% popular_tweets.each do |tweet| %>
  <p>
  <b><%= tweet.user.name %></b> @<%= tweet.user.handle %></br>
  <%= tweet.content %></br>
  <%= tweet.created_at %>
  <%= button_to "Like", new_tweet_like_path(tweet), method: :get, form: {style: 'display:inline-block;'} if @current_user %>
  <%= button_to "Likes (#{tweet.likes.count})", tweet_likes_path(tweet), method: :get, form: {style: 'display:inline-block;'}%>
  <%= button_to "Comment", new_tweet_comment_path(tweet), method: :get, form: {style: 'display:inline-block;'} if @current_user %>
  <%= button_to "Comments (#{tweet.comments.count})", tweet_comments_path(tweet), method: :get, form: {style: 'display:inline-block;'}%>
  </p>
<% end %>

<p>
<%= link_to "List of users", users_path %> | 
<%= link_to "About", about_path %>
</p>
