<h1>Tweet Details</h1>

<p>
<b><%= @tweet.user.name %></b> @<%= @tweet.user.handle %></br>
<%= @tweet.content %></br>
<%= @tweet.created_at %>
</p>

<p>
  <%= button_to "Edit", edit_tweet_path(@tweet), method: :get,form: {style: 'display:inline-block;'}%>
  <%= button_to "Delete", tweet_path(@tweet), method: :delete, form: {style: 'display:inline-block;'} %>
</p>

<p>
  <%= button_to "Like", new_tweet_like_path(@tweet), method: :get, form: {style: 'display:inline-block;'} %>
  <%= button_to "Likes (#{@tweet.likes.count})", tweet_likes_path(@tweet), method: :get, form: {style: 'display:inline-block;'}%>
  <%= button_to "Comment", new_tweet_comment_path(@tweet), method: :get, form: {style: 'display:inline-block;'} %>
</p>

<h2>Comments <%= "(#{@tweet.comments.count})" %></h2>

<% tweet_comments = @tweet.comments.includes(:user) %>
<% tweet_comments.each do |comment| %>
  <p>
  <b><%= comment.user.name %></b> @<%= comment.user.handle %></br>
  <%= comment.content %></br>
  <%= comment.created_at %>
  </p>

  <p>
  <%= button_to "Edit", edit_tweet_comment_path(@tweet, comment), method: :get, form: {style: 'display:inline-block;'}%>
  <%= button_to "Delete", tweet_comment_path(@tweet, comment), method: :delete, form: {style: 'display:inline-block;'} %>
</p>
<% end %>

<p><%= link_to "Back to Tweets", tweets_path %></p>
