<h1>Edit User</h1>

<% if @user.errors.any? %>
  <p> The user couldn't be updated due to the following errors: 
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </p>
<% end %>

<p>
<%= form_with model: @user do |form| %>
  <%= form.label :name, "Name:" %></br>
  <%= form.text_field :name %></br></br>

  <%= form.label :handle, "Handle:" %></br>
  <%= form.text_field :handle %></br></br>

  <%= form.label :email, "Email:" %></br>
  <%= form.text_field :email %></br></br>

  <%= form.label :bio, "Bio:" %></br>
  <%= form.text_area :bio, size: "40x10" %></br></br>

  <%= form.submit %>
<% end %>
</p>

<p><%= link_to "Back", users_path %></p>