<h1>User Profile</h1>

<p>
  <%= button_to "Edit profile", edit_user_path(@user), method: :get,form: {style: 'display:inline-block;'}%>
  <%= button_to "Delete profile", user_path(@user), method: :delete, form: {style: 'display:inline-block;'} %>
</p>

<p>
<b>Name:</b> <%= @user.name %> </br>
<b>Handle:</b> @<%= @user.handle %> </br>
<b>Email:</b> <%= @user.email %> </br>
<b>Bio:</b> <%= @user.bio %>
</p>

<p>
  <%= button_to "Followers", edit_user_path(@user), method: :get,form: {style: 'display:inline-block;'}%>
</p>


<h2><%= @user.name %> Tweets </h2>

<% @user.tweets.reverse_each do |tweet| %>
  <p>
  <%= tweet.content %></br>
  <%= tweet.created_at %>
  <%= button_to "Edit", edit_tweet_path(tweet), method: :get,form: {style: 'display:inline-block;'}%>
  <%= button_to "Delete", tweet_path(tweet), method: :delete, form: {style: 'display:inline-block;'} %>
  </p>
<% end %>


<p><%= link_to "Back to Users", users_path %></p>